[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "content/themes/book"]
	path = content/themes/book
	url = https://github.com/alex-shpak/hugo-book
